#titre {
  text-align: center;
  /*margin-top: 2em;*/
  /*font-size: 28px;*/
}

.colortitle {
  color: red;
  /*margin-top: 2em;*/
  /*font-size: 28px;*/
}

.connexup {
  margin-top: -2.3em;
}

.decale {
  margin-left: -7em;
}

#prof {
  margin-top: -2.3em;
}

.opac {
  opacity: 0.8;
}

#remonte {
  margin-top: -2.3em;
}
