<link rel="stylesheet" type="text/css" href="app/css/style1.css" media="all" />
<div class="Spec-check">

<div class="row">

  <div class="col-xs-pull-6">
    <div id="Htitle">
      <h1>LES REINES DU VICE</h1>
    </div>
    <div id="Hdescribe">
      <p>Viens rencontrer notre communautée a l'aide de nos services</p>
      <p>Elles ont toutes un vice... Humm!</p>
    </div>
  </div>
  <p>Quel est ton vice?</p>
<div class='container1'>
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='avarice' value='Avarice'>
  Avarice
  </label>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='colère' value='Colère'>
  Colère
  </label>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='envie' value='Envie'>
  Envie
  </label>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='gourmandise' value='Gourmandise'>
  Gourmandise
  </label>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='luxure' value='Luxure'>
  Luxure
  </label>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='orgueil' value='Orgueil'>
  Orgueil
  </label>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='paresse' value='Paresse'>
  Paresse
  </label>
  </div>
  </div>
</div>
</div>
  <button type="button" ui-sref="anon.register" class="btn btn-default">
S'enregistrer
</button>
</center>

</div>

</div>
