<link rel="stylesheet" type="text/css" href="app/css/style1.css" media="all" />
<div class="Spec-check">

<div class="row">

  <div class="col-xs-pull-6">
    <div id="Htitle">
      <h1>7 SINS</h1>
    </div>
    <div class="Hdescribe">
      <p>Nous avons tous des petits défauts, des vices que l'on souhaite cacher...</p>
      <p>Aujourd'hui, on vous propose de les assumer pleinement!</p>
    </div>
  </div>
  <p class="Hdescribe">Et toi quel est ton vice?</p>
<!-- <div class="container-fluid home">
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='avarice' value='Avarice'>
  Avarice
  </label>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='colère' value='Colère'>
  Colère
  </label>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='envie' value='Envie'>
  Envie
  </label>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='gourmandise' value='Gourmandise'>
  Gourmandise
  </label>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='luxure' value='Luxure'>
  Luxure
  </label>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='orgueil' value='Orgueil'>
  Orgueil
  </label>
  </div>
  </div>
  <div class="row">
    <div class="col-xs-pull-2">
      <label>
  <input type='checkbox' name='paresse' value='Paresse'>
  Paresse
  </label>
  </div>
  </div>
</div> -->
<!-- </div>
  <button type="button" ui-sref="anon.register" class="btn btn-default">
S'enregistrer
</button>
</center> -->

</div>

</div>

<div class="container-fluid users">
  <h3 class="part_user">Retrouvez nos chers romantiques en manque d'amour et qui assument pleinement leurs personnalités.</h3>

</div>
