<div class="container panel Sized">
    <form class="form-horizontal ">
        <fieldset>

            <legend>Form Name</legend>
            <div class="form-group form-group-sm">
                <label> tu es
                <select class="form-control">
  <option>Un homme</option>
  <option>Une femme</option>  
</select>
<label> tu recherches <br>
                <select class="form-control">
  <option>Un homme</option>
  <option>Une femme</option>  
</select> <br>
                <!-- Text input http://getbootstrap.com/css/#forms -->
                <div class="form-group form-group-sm">
                    <label for="textinput" class="control-label col-sm-2">Age</label>
                <div class="col-sm-10">
                    <input class="form-control" id="textinput" placeholder="Age" type="number">

                </div>
            </div>
            <!-- Text input http://getbootstrap.com/css/#forms -->
            <div class="form-group">
                <label for="textinput" class="control-label col-sm-2">Pseudo</label>
                <div class="col-sm-10">
                    <input class="form-control" id="textinput" placeholder="Votre pseudo" type="text">

                </div>
            </div>
            <!-- Text input http://getbootstrap.com/css/#forms -->
            <div class="form-group">
                <label for="textinput" class="control-label col-sm-2">Email</label>
                <div class="col-sm-10">
                    <input class="form-control" id="textinput" placeholder="Email" type="text">

                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </fieldset>
    </form>

</div>